<h1>All Sales Vinyl</h1>


<h3>Available Records</h3>


<% if @albums.any? %>
  <ul>
    <% @albums.each do |album| %>
      <li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no records to display.</p>
<% end %>

<a href="/albums/new">Add a new album</a>




<form action="/find_album">
  <div class="form-group">
    <label for="search">Search</label>

    <div>
      <label for="search-name">Name</label>
      <input type="radio" id='search-name' name='search_type' value='name' checked>

      <label for="search-year">Artist</label>
      <input type="radio" id='search-artist' name='search_type' value='artist'>

      <label for="search-year">Year</label>
      <input type="radio" id='search-year' name='search_type' value='year'>

      <label for="search-name">Genre</label>
      <input type="radio" id='search-genre' name='search_type' value='genre'>
    </div>

    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>

